#body {
    background-color: #f6f6f6;
    height: 1000vh;
    margin-top:920vh;
}
.container-1 {
    max-width: 1024px;
    margin:auto 132px;
    
}
.grid-4-4-4 {
    display: grid;
    height:50vh;
    grid-template-columns: 3fr 5fr 4fr;
    grid-template-areas: 
    "information slider slider"
    "information main sidebar"
    ". main sidebar" 
    ". main sidebar"
    ;
    row-gap: 10px;
    column-gap: 10px;

}
/*information*/
.information {
    background-color: #e43737;
    grid-area: information;
}

.information-fluid li.user p, .information-fluid.margin-bottom ul li p {
    font-weight: 500;
    padding-top: 2%;
    display: inline-block;
    float: left;
    width: 80%;
    padding-left: -20%;
    font-size: 85%;
}

li.user {
    width: 100%;
    overflow: hidden;
}

.margin-bottom {
    margin-bottom: 10px;
}
.text-center {
    
    box-sizing: border-box;
    padding-left:20px;
    padding-top:10px;
}

.circle img {
    width: 100%;
    height: 36px;
    border-radius: 50%;
}

.circle {
    width: 18%;
    display: inline-block;
    float: left;
}
.information-fluid {
    box-sizing:  border-box;
    border-radius:3px;
    width: 90%;
    height:164px;
    background-color:#ffffff;
    padding: 5%;
}

.information-fluid.margin-bottom ul {
    list-style: none;
}

.information-fluid.margin-bottom ul li {
    overflow: hidden;
    padding: 3% 0%;
}
.information-fluid.margin-bottom ul li img.icon {
    width:10%;
    display: inline-block;
    float: left;
}
.information-fluid.margin-bottom ul li a:hover {
    color: #3aadf3;
}

/*slider*/
.slider {
    background-color: brown;
    grid-area: slider;
    height: 50vh;
}
/*main*/
.main {
    background-color:cadetblue;
    grid-area: main;
    height:700vh;
}
.grid-4 {
    grid-template-columns: 4fr;
    grid-template-areas: 
    "create-post"
    "create-meeting"
    "make-friend-may-now"
    "posted-post";
    
}
.main .create-post {
    background-color: chartreuse;
    height: 100vh;
    grid-area: create-post;
}
.main .create-meeting {
    background-color: cornsilk;
    height: 100vh;
    grid-area:create-meeting;
}
.main .make-friend-may-now {
    background-color: rgb(214, 191, 100);
    height: 100vh;
    grid-area:make-friend-may-now;
}
.main .posted-post {
    background-color: rgb(59, 161, 65);
    height: 100vh;
    grid-area: posted-post ;
}
/*sidebar*/
.sidebar {
    background-color: coral;
    height: 700vh;
}
.grid-4-sidebar {
    grid-template-columns: 4fr;
    grid-template-areas: 
    "outstanding-topic";   
}
.outstanding-topic {
    background-color: cyan;
    height: 50vh;
}