/* use Shared */
.header-logo,.header-search {
    box-sizing: border-box;
    padding:5% 0%;
    width: 100%;
    height:56px;
    background-color: rgb(239, 242, 245);}

.header {
    width:100%;
    height:56px;
    background-color: rgb(239, 242, 245);
    border-bottom: 1px solid rgb(216, 202, 202);
}
.grid-3-6-3 {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    column-gap: 20px;
}
.grid-2-10 {
    display: grid;
    grid-template-columns: 2fr 10fr;
    column-gap: 10px;
}
.grid-12 {
    display: grid;
    grid-template-columns: 12fr;

}
.grid-5-6 {
    display: grid;
    grid-template-columns: 5fr 6fr;
    column-gap: 3px;
}
.grid-2c4-2c4-2c4-2c4-2c4 {
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    
}
.logo-circle {
    cursor: pointer;
    padding:20% 0%;
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    height:40px;
    border-radius: 50%;
    background-color: rgb(222, 230, 236);
}
.logo-circle img {
    width: 50%;
}
.logo-underlined {
    box-sizing: border-box;
    padding-top:10%;
    padding-bottom:10%;
    text-align: center;
    background-color: rgb(239, 242, 245);
    height:56px;
}
.logo-underlined img {
    width: 21%;
}
.logo-underlined:hover {
    background-color: rgb(50, 109, 160);
}
.header-left {
    box-sizing: border-box;
    padding-left:15%;
    box-sizing: border-box;
    padding-top: 15%;
    padding-bottom: 15%;
    height: 56px;
    
}
/* private use */
.logo-trademark {
    border-radius: 50%;
    width: 100%;
    height: 50px;
    background-color: black;
}
/* avatar */
.logo-avatar {
    text-align: center;
    box-sizing: border-box;
    padding:20% 0%;
}
.logo-avatar-circle {
   position: absolute;
   top: 0%;
    width: 50%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(114, 105, 105);
}
.logo-avatar {
    margin: 20% 0%;
   position: relative;
    width: 100%;
    height:30px;
    border-radius: 11px;
    background-color: rgb(222, 230, 236);
}

.logo-avatar:hover {
    cursor: pointer;
    background-color: rgb(204, 193, 177);
}
.logo-avatar .name-avatar {
    position: absolute;
    font-size: 14px;
    top: 20%;
    right: 30%;
    display: inline-block;
    width: 20%;
    height: 10px;
}
/* search button */
.header-search {
    padding:1% 0%!important;
}
.search_box{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
	background: #8b8b8d;
	position: relative;
	padding: 3% 3%;
	border-radius: 50px;

}

.search_box .search_btn{
    box-sizing: border-box;
   text-align: center;
    padding:20% 0%;
	width: 100%;
	height: 35px;
	border-radius: 50%;
	background: #9d97b8;
	color: #fff;
	
	cursor: pointer;
}
.search_box .search_btn .search {
    width: 40%;
    color: white;
}
.search_box .input_search{
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    outline: none;
    border: none;
    background: #9d97b8;
    border-radius: 50px;
    padding: 1% 5%;
    color: #fff;
}

::placeholder {
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .logo-underlined img {
        width: 44%;
    }
    .logo-circle {
        padding: 27% 0%;
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        height: 34px;
        border-radius: 50%;
        background-color: rgb(222, 230, 236);
    }
    .grid-3-9-sr{
        display: grid;
        grid-template-columns: 3fr 9fr;
        column-gap: 5px;
    }
    .search_box {
        padding: 5% 3%;
    }
    .logo-avatar {
        display: none;
    }
  }
  @media only screen and (max-width:600px) {
    .logo-underlined {
        box-sizing: border-box;
        padding-top: 36%;
        text-align: center;
        background-color: rgb(239, 242, 245);
        height: 56px;
    }
    .grid-4-9-cl{
        display: grid;
        grid-template-columns: 4fr 9fr;
        column-gap: 5px;
    }
    .header-logo.logo {
        padding: 24% 0%;
    }
    input.input_search {
        height: 25px!important;
    }
    .search_box .search_btn {
        width: 100%;
        height: 25px;
       
    }
    .header-left {      
        padding-top: 15%;
    }
    .header-search {
        padding-top:20%!important;
    }
    .search_box {
        height: 30px;
        padding: 4% 6%;
    }
    .grid-3-3-3-3-xm {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
    
    }
    .logo-trademark {      
        width: 100%;
        height: 37px;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header-logo {
        padding: 21% 0%;
       }
    .logo-trademark {      
        width: 100%;
        height: 37px;
    }
    .header-search {
        padding: 8px 0px!important;
    }
    .search_box .input_search {
        height: 25px;    
    }
    .grid-3-3-3-3-xm {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
    
    }
    .grid-5-1-6-xm {
        display: grid;
        grid-template-columns: 5fr 1fr  6fr;
        column-gap: 0px;
    }
   .header .logo-underlined {
        display:none;
    }
    .header-left.logo-avatar {
        display: none;
    }
    .header-left .logo-circle {
        padding:30% 0%;
        width: 100%;
        height:40px;
    }
    .header-left .logo-circle img {
        width:30%;
    }
    .grid-3-9-xm {
        display: grid;
        grid-template-columns: 3fr 9fr;
        column-gap: 5px;
    }
    .search_box .search_btn{
        box-sizing: border-box;
        text-align: center;
        padding: 24% 0%;
        width: 100%;
        height: 27px;
        border-radius: 50%;
        background: #9d97b8;
        color: #fff;
        cursor: pointer;
    }
    .search_box {
        box-sizing: border-box;
        width: 100%;
        height: 39px;
        background: #8b8b8d;
        position: relative;
        padding: 5% 5%;
        border-radius: 50px;
    }
  }